.states.small {
    .states-block {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;        

        .states-box {
            margin: 0 1px;
            flex-shrink: 0;
            flex-grow: 1;

            .state-active {
                border: 2px solid var(--app-color-primary);
            }

            .state-line {
                height: 7px;
                width: 100%;
                min-width: 26px;
                display: block;
                background: black;
                border: 1px solid var(--ion-color-light);
                border-radius: 5px;
            } 

            .active {
                border: 2px solid var(--app-color-primary) !important;
                background: #fff;
                position: relative;
            }
        }

        .states-control {
            margin: 0 4px;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}